/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --gray-background: #242424;
  --body-background: #000;
  --dark-red: #ba1509;
  --light-red: #df1d0f;
  --dark-green: #257d3d;
  --light-green: #2a8d44;
  --dark-yellow: #e3b024;
  --light-yellow: #ffc62a;
  --light-blue: #0aa9ff;
  --dark-blue: #0a8bd1;
}

html {
  font-size: 87.93%;
}

body {
  background: var(--body-background);
  font-family: 'Ubuntu', sans-serif;
}

.container {
  border: none;
  border-radius: 4px;
  margin: 2rem auto;
  width: 90vw;
  max-width: 800px;
}

.sr-only {
  border-width: 0;
  margin: 0;
  padding: 0;
  width: 1;
  height: 1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  position: absolute;
}

.text-big {
  font-size: 2rem;
  font-weight: 700;
}

.styled-button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #fff;
  transition: .3s ease-in-out;
}

.styled-button:hover {
  cursor: pointer;
}

.char-create-button {
  background: var(--light-yellow);
}

.char-create-button:hover {
  background: var(--dark-yellow);
}

.attack-btn {
  background: var(--light-red);
}

.attack-btn:hover {
  background: var(--dark-red);
}

.heal-btn {
  background: var(--light-green);
}

.heal-btn:hover {
  background: var(--dark-green);
}

.summon-btn {
  background: var(--light-yellow);
}

.summon-btn:hover {
  background: var(--dark-yellow);
}

.defend-btn {
  background: var(--light-blue);
}

.defend-btn:hover {
  background: var(--dark-blue);
}

.overlay {
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--gray-background);
  border: none;
  border-radius: 4px;
  width: 90vw;
  max-width: 800px;
  max-height: 500px;
  overflow: auto;
  color: #fff
}

.block-large {
  width: 100%;
  display: block;
  font-size: 2rem;
}

.char-creation {
  padding: 1rem;
}

.char-creation *+* {
  margin: 1rem 0;
}

.hide {
  display: none;
}

/* Header */

#page-header {
  background: var(--gray-background);
  padding: 1rem;
  color: #fff;
}

#page-header *+* {
  margin: 0.2rem 0;
}

.status-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-bar-wrapper {
  background: var(--body-background);
  border: none;
  border-radius: 4px;
  width: 80%;
  height: 1.5rem;
}

.status-bar {
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

#hp-bar {
  background: var(--light-red);
  width: 100%;
  transition: width .6s ease-in-out;
}

#sta-bar {
  background: var(--light-green);
  width: 100%;
  transition: width .6s ease-in-out;
}

#exp-bar {
  background: var(--light-yellow);
  width: 0;
  transition: width .6s ease-in-out;
}

.highlighted-text-yellow {
  color: var(--light-yellow);
}

.highlighted-text-red {
  color: var(--light-red);
}

.highlighted-text-green {
  color: var(--light-green);
}

.highlighted-text-blue {
  color: var(--light-blue);
}

.semibold-text {
  font-weight: 500;
}

/* Main */

.monster-section {
  background: var(--gray-background);
  border: none;
  border-radius: 4px;
  padding: 1rem;
  color: #fff;
}

.monster-section *+* {
  margin: 0.5rem 0;
}

.btn-group {
  background: var(--gray-background);
  border: none;
  border-radius: 4px;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.char-log {
  background: var(--gray-background);
  border: none;
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  max-height: 150px;
  overflow: auto;
  color: #fff;
  font-weight: 500;
}

.char-log *+* {
  margin: 0.5rem 0;
}

@media (min-width: 800px) {
  html {
    font-size: 93.85%;
  }
}
